<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Category</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a href="/"><button>Home</button></a> <a href="/categories"><button>Categories</button></a>
    <h2 th:text="${category.getName()}"></h2>
    <div th:each="sb : ${products}">
        <p>
            <a th:href="@{/product(sku=${sb.getSku})}"><span th:text="${sb.getSku()}"></span></a>
        </p>
    </div>
</body>
</html>